<ion-content class="content">
  <div class="warp">
    <div class="warp-foot">
      <ion-button class="my-button" (click)="scan()">
        <div *ngIf="!isScan">SCAN</div>
        <ion-icon *ngIf="isScan" name="checkmark"></ion-icon>
      </ion-button>
    </div>
    <div class="warp-body" (click)="tester()">
      <span>{{user.id}}</span>
      <ion-input [(ngModel)]="data" #input></ion-input>
      <ion-icon name="copy"></ion-icon>
    </div>
    <div class="warp-head">
      <p class="my-title">{{user?.name}}</p>
    </div>
  </div>
</ion-content>
