<ion-content class="content">
  <div *ngIf="!isLoad"><ion-spinner class="super-center"></ion-spinner></div>
  <div *ngIf="isLoad">

    <div class="warp">
      <div class="warp-foot">
        <div class="border-click border-foot"></div>
        <div *ngFor="let particle of myParticles">
          <img @particleMyState class="particles" src="assets/img/click.png">
        </div>
        <div>
          <div class="user-img" (click)="click($event)">
            <img src="assets/img/click.png" [@clickState]='state.myCount'>
          </div>
          <span>{{state.myName}}</span>
          <span> - {{state.myCount}}</span>
        </div>
      </div>

      <div class="warp-body">
        <div class="click-img">
          <img src="assets/img/click.png" [style.width.px]="(100 / maxClick) * (state.myCount + state.meCount)">
        </div>
      </div>

      <div class="warp-head">
        <div class="user-state">
          <span>{{state.meName}}</span>
          <span> - {{state.meCount}}</span>
          <div class="user-img">
            <img src="assets/img/click.png" [@clickState]='state.meCount'>
          </div>
        </div>
        <div *ngFor="let particle of meParticles">
          <img @particleMeState class="particles" src="assets/img/click.png">
        </div>
        <div class="border-click border-head"></div>
      </div>
    </div>

  </div>
</ion-content>
